<h2><a href="{{url}}">Visit us online!</a></h2>
{{!-- <img src="" alt=""> --}}
<p class="detail-description">{{ narrative }}</p>
<ul class="detail-activities">
  {{#each activities }}
  <li>{{ this }}</li>
  {{/each }}
</ul>
<address>
  {{ address }}<br>
  {{ city }}, {{ state }} {{ zip }}
</address>
