h2= office.name
ul.detail-links
  if office.url
    li
      a(href=office.url title="Website")
        include ../svg/webpage.svg
  if office.facebook
    li
      a(href=office.facebook title="Facebook")
        include ../svg/facebook.svg
  if office.twitter
    li
      a(href=office.twitter title="Twitter")
        include ../svg/twitter.svg
div.detail-content-wrap
  p.detail-description
    = office.narrative
  h3 Activities
  ul.detail-activities
    if office.activities
      each activity in office.activities
        if activity === "Wildlife Photography"
          li
            include ../svg/wildlife-photography.svg
            = activity
        if activity === "Wildlife Observation"
          li
            include ../svg/wildlife-observation.svg
            = activity
        if activity === "Hiking"
          li
            include ../svg/hiking.svg
            = activity
        if activity === "Fishing"
          li
            include ../svg/fishing.svg
            = activity
        if activity === "Hunting"
          li
            include ../svg/hunting.svg
            = activity
        if activity === "Boat Ramp"
          li
            include ../svg/boat-ramp.svg
            = activity
        if activity === "Canoeing"
          li
            include ../svg/canoeing.svg
            = activity
        if activity === "Lighthouse"
          li
            include ../svg/lighthouse.svg
            = activity
        if activity === "Picnic"
          li
            include ../svg/picnic-shelter.svg
            = activity
  address
    = office.address
    br
    | #{office.city}, #{office.state} #{office.zip}
