- var _ = require('../js/util')._;
h2
  = office.name
div.detail-content-wrap
  p
    a(href=office.url) Visit us online!
  p.detail-description
    = office.narrative
  h3 Activities
  ul.detail-activities
    if office.activities
      each activity in office.activities
        - var slug = _.slugify(activity).toLowerCase();
        li
          img(src="../images/#{slug}.svg")
          = activity
  address
    = office.address
    br
    | #{office.city}, #{office.state} #{office.zip}
