h2= office.name

if office.image
  - var url = './images/' + office.image;
  a(href=office.imageurl, target='_blank')
    img.detail-image(src=url, alt=office.alt)
  p.office-photo-caption| !{office.caption}

ul.detail-links
  if office.url
    li
      a(href=office.url, title='Website')
        include ../svg/webpage.svg
  if office.facebook
    li
      a(href=office.facebook, title='Facebook')
        include ../svg/facebook.svg
  if office.twitter
    li
      a(href=office.twitter, title='Twitter')
        include ../svg/twitter.svg

.detail-content-wrap
  p.detail-description| !{office.narrative}
  if office.activities
    h3 Activities
    ul.detail-activities
      each activity in office.activities
        if activity === "Wildlife Photography"
          li
            img(src='./svg/wildlife-photography.svg', alt='Camera icon')
            = activity
        if activity === "Wildlife Observation"
          li
            img(src='./svg/wildlife-observation.svg', alt='Icon')
            = activity
        if activity === "Hiking"
          li
            img(src='./svg/hiking.svg', alt='Hiking icon')
            = activity
        if activity === "Fishing"
          li
            img(src='./svg/fishing.svg', alt='Fish icon')
            = activity
        if activity === "Hunting"
          li
            img(src='./svg/hunting.svg', alt='Hunting icon')
            = activity
        if activity === "Boat Ramp"
          li
            img(src='./svg/boat-ramp.svg', alt='Boat ramp icon')
            = activity
        if activity === "Canoeing"
          li
            img(src='./svg/canoeing.svg', alt='Canoe icon')
            = activity
        if activity === "Lighthouse"
          li
            img(src='./svg/lighthouse.svg', alt='Lighthouse icon')
            = activity
        if activity === "Picnic"
          li
            img(src='./svg/picnic-shelter.svg', alt='Picnic table icon')
            = activity
  h3 Address:
  if (office.phone)
    p| Phone: #{office.phone}
  address| #{office.address} #[br] #{office.city}, #{office.state} #{office.zip}
